@import url("https://js.api.here.com/v3/3.1/mapsjs-ui.css");

.root {
  position: relative;
}

.tooltip {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, calc(-100% - 8px));
  font-size: 12rem / 16;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: #000;
  white-space: nowrap;
}
