.root {
  margin-top: 0.5rem;
}

.colorSquare {
  display: inline-block;
  height: 1em;
  width: 1em;
  background-color: black;
  margin-right: 0.5em;
}

.valueLabel {
  font-size: (20em /14);
  font-weight: 600;
  color: #000000;
}
