.root {
  margin-bottom: 2rem;
}

.showcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.showcaseItem {
  width: 8rem;
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.showcaseIcon {
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  svg {
    width: 100%;
  }
}

.showcaseValue {
  font-size: (36rem / 16);
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

.showcaseText {
  text-align: center;
}
