.root {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
}

.typeSelect {
  margin-right: 2rem;
  margin-bottom: 0.5rem;
  width: 10rem;
}

.selects {
  margin-left: -0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.selectContainer {
  width: 15rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media (max-width: 480px) {
  .root {
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
  }

  .selects {
    flex-direction: column;
    margin-left: 0;
    align-items: stretch;
    flex-wrap: nowrap;
  }

  .selectContainer {
    margin-left: 0;
    width: 100%;
  }
}
