.unavailable {
  margin-top: 0.5rem;
}

.percentageBars {
  margin-top: 1rem;
}

.map {
  flex: 1;
  margin-bottom: 2rem;
}

.mapBreakdownContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
}

.breakdownContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-right: 2rem;
}

.breakdown {
  flex-shrink: 1;
  flex-grow: 0;
  margin-bottom: 2rem;
  width: (320rem / 16);
}

.mapBreakdownContainerMobile {
  .map {
    flex: none;
  }

  .breakdownContainer {
    margin-right: 0;
    flex: 1;
  }
  .breakdown {
    flex-grow: 1;
    width: 100%;
    max-width: none;
  }
}

.mapBreakdownContainerFullWidth {
  flex-direction: column-reverse;

  .map {
    flex: none;
  }

  .breakdownContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.mapOverlay {
  position: absolute;
  left: 48%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3E3E3E;
}

.mapOverlayPercentage {
  font-size: (50em / 18 * 0.55);
  line-height: 1.3;
  font-weight: 600;
}

.mapOverlayLabel {
  font-size: 0.55em;
  line-height: 1.5;
}

.totalVotesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.totalVotesLabels {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.totalVotesCount {
  font-size: (30rem / 16);
  color: #505050;
}

.totalVotesLabel {
  font-size: (18rem / 16);
  color: #A8A8A8;
  margin-top: 0.25rem;
}
