.root {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  color: #999999;
}

.root .h2 {
  color: #333333;
}

.root select {
  width: 70%;
  margin-top: 7px;
  color: #999999;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 3px;
  outline: none;
}

.root option {
  color: #999999;  
}
