.root {
  max-width: 36rem;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: row;
  align-items: stretch;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-top: 0.24rem #352245 solid;
}

.timestampColumn {
  width: 3rem;
  flex-shrink: 0;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.date,
.year,
.time {
  font-size: (12rem / 16);
}

.date,
.year {
  color: #000000;
  font-weight: 600;
}

.container {
  flex: 1;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}

.avatar {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: #ababab;
  display: flex;
  align-items: center;
  justify-content: center;
}

.initials {
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.authorName {
  margin-left: 0.5rem;
}

.title {
  font-size: 1rem;
  display: block;
  margin-bottom: 0.5rem;
}

a.title {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.body {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.pictures {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.picture {
  width: 8rem;
  height: 8rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  object-fit: cover;
  object-position: 50% 50%;
}

.embed {
  margin-top: 1rem;
  width: 100%;
}

.hLine {
  border: 0 none;
  border-top: 1px solid #d7d7d7;
  width: 100%;
  margin: 1rem 0 0.5rem;
}

.footer {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.footerLink {
  opacity: 0.7;
  line-height: 0;
  margin-left: 0.5rem;
  &:hover {
    opacity: 1;
  }
}

.footerLinkIcon {
  height: 1.7rem;
}

.separator {
  flex: 1;
}

.logo {
  height: 1.7rem;
}

@media (max-width: 420px) {
  .root {
    display: block;
  }
  .timestampColumn {
    width: auto;
    margin-right: 0.5rem;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.3rem;
  }
}
