.warning {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.stackedBar {
  margin-top: 1rem;
}

.map {
  flex: 1;
  margin-bottom: 2rem;
}

.mapSummaryContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
}

.mapSummaryTable {
  margin-right: 1rem;
  width: 20rem;
  max-height: 24rem;
  align-self: flex-start;
}

.mapOverlay {
  position: absolute;
  left: 48%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mapOverlayPercentage {
  font-size: (50em / 18 * 0.55);
  line-height: 1.3;
  font-weight: 600;
}

.mapOverlayLabel {
  font-size: 0.65em;
  line-height: 1.5;
  font-weight: 600;
}
