.tableContainer {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.table .nameCell {
  text-align: left;
  padding-left: 0.5rem;
}

.heading {
  margin-bottom: 0.5rem;
}

.collapseButton {
  margin-top: 0.5rem;
  align-self: flex-end;
}
