.body {
  font-size: (14rem / 16);
  line-height: 1.28;
  color: #505050;
}

.bodyMedium {
  font-size: 1rem;
  line-height: 1.28;
  color: #505050;
}

.bodyLarge {
  font-size: (20rem / 16);
  line-height: 1.28;
  color: #666666;
}

.label {
  font-size: (14rem / 16);
  line-height: 1.28;
  color: #989898;
}

.labelMedium {
  font-size: 1rem;
  line-height: 1.28;
  color: #989898;
}

.h1 {
  font-size: (30rem / 16);
  line-height: 1.5;
  font-weight: 600;
  color: #3E3E3E;
}

.h2 {
  font-size: (27rem / 16);
  line-height: 1.5;
  font-weight: 600;
  color: #3E3E3E;
}

.h3 {
  font-size: (20rem / 16);
  line-height: 1.5;
  font-weight: 600;
  color: #3E3E3E;
}
