.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
}

.feed {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 36rem;
}
