.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -0.5em;
}

.legendItem {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
