.root {
  position: relative;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.staticMap {
  flex: 1;
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.staticMapRomaniaContainer {
  flex: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.staticMapRomania {
  width: 100%;
  height: 100%;
}

.staticMapRomania {
  color: #FFDC01;
}

.tooltip {
  text-align: center;
}

.tooltipWinner {
  font-size: 0.7em;
}

.tooltipName {
  font-weight: 600;
}

.staticDark {
  color: #ffffff;
}

.staticLight {
  color: #3e3e3e;
}
