.root {
  position: relative;
}

.svg {
  width: 100%;
  height: 5rem;
}

.labelLeft {
  position: absolute;
  left: 0.25rem;
  bottom: 1rem;
  text-align: left;
  color: #ffffff;
  font-weight: 600;
}

.labelRight {
  position: absolute;
  right: 0.25rem;
  bottom: 1rem;
  text-align: right;
  color: #ffffff;
  font-weight: 600;
}
